#sidebar {
    position: fixed;
    width: 15vw;
    /* max-width: 250px; */
    height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -15vw;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle {
    display: block;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0.8em;
    transform: translateY(-50%);
}
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 1em 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 1.5em !important;
    background: #6d7fcc;
}

#sidebar-title {
    color: #fff;
    padding: 1.5em;
    font-size: 1.5em;
}

#sidebarCollapse {
    background-color: #233476;
    border-color: #233476;
    margin-left: 2rem;
}

#navbar-row {
    background-color: #233476;
    height: 7.5vh !important;
}

#page-header {
    padding-left: 1em;
    padding-top: 0.5em;
}

.navbar-brand {
    font-size: 3.5vh !important;
    /* font-size: 1.5rem !important; */
    color: #fff;
}

main {
    position: fixed;
    left: 15vw;
    width: 85vw;
    max-width: 100vw !important;
    max-height: 92.5vh !important;
    padding-left: 7.5vw !important;
    padding-right: 7.5vw !important;
    align-items: stretch;
    /* padding-left: 5rem; */
    transition: all 0.3s;
}

main.active {
    left: 0;
    width: 100vw;
    /* align-content: center; */
    padding-left: 14vw !important;
    padding-right: 12.5vw !important;
}

aside {
    font-size: 1.2vw;
}

/* .material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; } */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 992px1200px) {} 